{% extends 'layout.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block bodyId %}error{% endblock bodyId %}
{% block bodyClass %}error{% endblock bodyClass %}

{% block content %}
  <h1>Oops! An Error Occurred</h1>
  <h2>{{ status_code }} {{ status_text }}</h2>

  <p>
    Something is broken. Please let us know what you were doing when this error occurred.
    We will fix it as soon as possible. Sorry for any inconvenience caused.
  </p>
{% endblock content %}
