{% extends 'layout.html.twig' %}

{% block bodyId %}index{% endblock bodyId %}
{% block bodyClass %}default{% endblock bodyClass %}

{% block content %}
  <div>
    <div id="welcome">
      <h1>{{ 'app.welcome_to' | trans({'%version%': constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')}) }}</h1>
    </div>

    <div id="status">
      <p>
        <svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#759E1A"></path></svg>

        {{ 'app.install_path' | trans() }}
        <code>{{ base_dir }}/</code>
      </p>
    </div>
  </div>

  <style>
      #icon-status { float: left; height: 64px; width: 64px; margin-right: 1em; margin-top: -1em; }

      @media (min-width: 768px) {
          @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
          @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
          .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
      }
  </style>
{% endblock content %}
